section#clients
  .parent
    h3!="клиенты, высоко оценившие нашу работу"
    h4 В 2017г. заключены контракты на комплекс горных работ общим объемом более 11,3 млн. куб. м.
    .content
      a(href="images/map.png" class="fancybox"): img(src='images/map.png')
      .text
        .list!="<span>1.</span> RG Gold, месторождение райгородок"
        .list!="<span>2.</span> Шубарколь Премиум, угольный разрез Центральная 2"
        .list!="<span>3.</span> Ер-тай, месторождение родниковое"
        .list!="<span>4.</span> БАСТ, месторождение Максут"
        .list!="<span>5.</span> AltynEX Company, месторождение Юбилейное"
        .list!="<span>6.</span> Элеватормельстрой, месторождение Актогай"
        .list!="<span>7.</span> Каратай К, месторождение Березники"
        .list!="<span>8.</span> Eurasia Cooper Operating, месторождение Аяк-Коджан"
