section#complex
  .parent
    h3!="комплекс вспомогательных работ"
    .content
      img(src='images/complex.png')
      .text
        .list!="<span class='text'>1.</span> <span>расчет производительности</span>"
        .list!="<span class='text'>2.</span> <span>определение объемов и места работ на планируемый период</span>"
        .list!="<span class='text'>3.</span> <span>линейный надзор за ведением горных работ <br> с соблюдением техники безопасности</span>"
        .list!="<span class='text'>4.</span> <span>проведение необходимых работ на отвальном участке</span>"
