section#map
  .parent
    h3!="устойчивое развитие компании"
    ul
      li!="<span>1.</span> непрерывный <span>рост</span> активов и повышение эфективности производства"
      li!="<span>2.</span> ведем свою деятельность, <span>стабильно</span> улучшая каждый аспект нашего бизнеса."
      li!="<span>3.</span> передовые проекты в области развития"
      li!="<span>4.</span> обеспечиваем высочайшую <span>безопасность и устойчивость</span>"
      li!="<span>5.</span> десять лет опыта безопасной и эффективной работы"
    .contact_block
      img(src="images/mining_logo_contact.png")
      h5 офис / факс: +7 (7212) 922-927
      h5 пр. Нуркена Абдирова 36/3
      h5 100017, Караганда, Казахстан
      h5 salemsg@eurasiacopper.kz
  //img(src="images/map.png")
  #map_main
