section#map
  .parent
    h3!="устойчивое развитие компании"
    ul
      li!="<span>1.</span> непрерывный <span>рост</span> активов и повышение эфективности производства"
      li!="<span>2.</span> ведем свою деятельность, <span>стабильно</span> улучшая каждый аспект нашего бизнеса."
      li!="<span>3.</span> передовые проекты в области развития"
      li!="<span>4.</span> обеспечиваем высочайшую <span>безопасность и устойчивость</span>"
      li!="<span>5.</span> десять лет опыта безопасной и эффективной работы"
  //img(src="images/map.png")
  #map_main
