section#reason
  .parent
    h3 5 причин выбрать Mining Service Group
    .wrap
      .text
        .list
          h4!="<span>1. </span> "
          h4!="<span>полный комплекс</span> открытых горных работ в рамках одного подрядчика:"
        ul
          li буровзрывные работы 
          li экскавация, перевозка и складирование горной массы
          li транспортировка руды
          li сервисное обслуживание карьерной специализированной техники
          li строительство производственных и жилых объектов
          li поставка оборудования и комплектующих для предприятий работающих в горно-металлургической отрасли
          li услуги по организации питания, проживания, обслуживания персонала
        .list
          h4!="<span>2. </span> "
          h4!="<span>быстрейший запуск</span> работ от 10 дней"
        .list
          h4!="<span>3. </span>"
          h4  бонусы и специальные низкие цены
        ul
          li!="<span>БЕСПЛАТНО к горным контрактам:</span> питание и клининг управленческого состава клиента на карьерах"
          li!="<span>специальные низкие цены</span> на эксплуатационную разведку (RC бурение) при комплексных горных работах от 3.5 миллионов кубометров в год"
          li!="<span>БЕСПЛАТНО аудит карьера</span> и плана горных работ с рекомендациями о повышении"
        .list
          h4!="<span>4. </span>"
          h4 минимальные простои и бесперебойная работа. коэффициент технической готовности техники (КТГ) более 90%:
        ul
          li!="<span>широчайший</span> парк новой <span>специализированной</span> техники, более 100 единиц, способен выполнить любую задачу"
          li!="<span>прочные прямые</span> связи с поставщиками оборудования, включая договор о фирменной технической поддержке"
          li!="прекрасная <span>техническая</span> оснащенность производственно-ремонтной базы, включая собственный центр технического обслуживания горной техники"
          li!="наличие <span>резервной</span> техники"
          li!="<span>высокая производительность</span> бурения с помощью новейшего оборудования последних модификаций"
        .list
          h4!="<span>5.</span> "
          h4!="<span>первоклассная</span> команда высоко квалифицированных специалистов"
        ul
          li постоянное обучение и аттестации
          li!="<span>повышение</span> качества корпоративного управления, получение степени МБА в ведущих бизнес школах Казахстана и России"
          li бизнес процессы соответствуют ISO 9001, 18001
          li!="поддержание <span>высоких</span> стандартов в области охраны труды"
          li!="собственный <span>персонал</span> по ремонту специализированной техники"
      img(src="images/reason_img.png")
