section#team
  .parent
    h3 наш самый ценный актив -
    h4 квалифицированные сотрудники разного профиля
    ul
      li!="<span class='text'>первоклассная</span> <span>команда высоко квалифицированных специалистов <br> постоянно обучаются и проходят аттестации</span>"
      li!="<span class='text'>бизнес процессы соответствуют ISO 9001, 18001</span>"
      li!="<span>постоянное </span><span class='text'>повышение</span> <span>качества корпоративного управления, <br> получение степени МБА в ведущих школах Казахстана и России</span>"
      li!="<span>поддержание</span> <span class='text'>высоких</span> <span>стандартов в области охраны труда</span>"
      li!="<span class='text'>собственный персонал</span> <span>по ремонту специализированной техники</span>"
    .team_block
      .icon_team
        img(src="images/team_1.png")
        h5  Жаппаров Елдос Суйкмбекович
        .status генеральный директор
      .icon_team
        img(src="images/team_2.png")
        h5  Райымқұл Аманжол Райымқұлұлы
        .status финансовый директор
      .icon_team
        img(src="images/team_3.png")
        h5  Соколов Светаслав Николаевич
        .status горный инженер
      .icon_team
        img(src="images/team_4.png")
        h5  Проха Андрей Юрьевич
        .status маркшейдер
